<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Notes list</title>
</head>
<body class="d-flex flex-column h-100">
<div class="container mb-3">
    <main class="bd-main">
        <div class="card">
            <div class="card-body col-9">
                <h5 class="card-title" th:text="'Title: ' + ${title}"></h5>
                <p class="card-text" th:utext="'Content: ' + ${content}"></p>
                <p class="card-text" th:text="'Author: ' + ${username}"></p>
            </div>
            <div class="card-footer bg-transparent d-flex justify-content-between">
                <button class="access-type btn btn-sm btn-outline-secondary"
                        th:text="${accessType}"></button>
            </div>
        </div>
    </main>
</div>
<footer class="py-4 bg-dark text-white mt-auto">
    <p class="text-center">Java Dev Final Project Team-2</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
</script>
</body>
</html>