<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="../../static/css/style.css">
    <title>Page Not Found</title>
    <script type="text/javascript" th:src="@{js/script.js}"></script>
</head>
<body>
<div class="error-container">
    <h1>404 - Page Not Found</h1>
    <p>The page you are looking for doesn't exist.</p>
    <button id="backButton">Back to Main Menu</button>
</div>
</body>
</html>