<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Internal server error</title>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="error-container">
    <h1>Oops! Something went wrong</h1>
    <p>We're experiencing technical difficulties at the moment.</p>
    <button id="backButton">Back to Main Menu</button>
</div>
</body>
</html>