.error-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    text-align: center;
}

.error-container h1 {
    margin-bottom: 10px;
}

.error-container p {
    margin-bottom: 20px;
    color: #6c757d;
}

#backButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #0056b3;
}

#backButton:active {
    background-color: #00449e;
}

.total,
.access-type {
    pointer-events: none;
    cursor: default !important;
}

.total:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.notes-counter,
.create-note-form,
.edit-note-form,
.card {
    box-shadow: 2px 2px 10px #dadada;
    margin: 5px;
    padding: 20px 10px;
    border-radius: 5px;
}

.notes-counter:hover,
.create-note-form:hover,
.edit-note-form:hover,
.card:hover {
    box-shadow: 4px 4px 20px #dadada;
    transition: .3s linear all;
}

.notes-counter .count-numbers {
    font-size: 2rem;
}

a.edit {
    color: #FFC107;
}

a.share {
    color: #03A9F4;
}

.delete {
    color: #E34724;
}

i.material-icons {
    font-size: 20px;
    line-height: inherit;
}

header a {
    text-decoration: none;
}

input[readonly] {
    background-color: #efefef;
    pointer-events: none;
    cursor: default;
}